<h2>Admin Panel</h2>

<%= form_for @cohort do |f| %>
  <%= f.hidden_field :admin_action, :value => :pitch_start %>
  <%= f.submit 'Start Pitch Day', id: 'submit-new-pitch' %>
<% end %>


<%= form_for @cohort do |f| %>
  <%= f.hidden_field :admin_action, :value => :round_one_voting_start %>
  <%= f.submit 'Start Round One Voting', id: 'start-round-one-voting' %>
<% end %>

<%= form_for @cohort do |f| %>
  <%= f.hidden_field :admin_action, :value => :round_one_voting_end %>
  <%= f.submit 'End Round One Voting', id: 'end-round-one-voting' %>
<% end %>


<%= form_for @cohort do |f| %>
  <%= f.hidden_field :admin_action, :value => :round_two_voting_start %>
  <%= f.submit 'Start Round Two Voting', id: 'start-round-two-voting' %>
<% end %>

<%= form_for @cohort do |f| %>
  <%= f.hidden_field :admin_action, :value => :round_two_voting_end %>
  <%= f.submit 'End Round Two Voting', id: 'end-round-two-voting' %>
<% end %>