<div id="vote<%=vote_pitch.id%>" class="vote-container">
	<%= render 'pitches/pitch', pitch: vote_pitch %>
	<div id="hide-button-pitch<%=vote_pitch.id%>" class="hide-button-container">
		<%= form_tag('/votes', method: :post) do %>
			<%= check_box_tag("hide#{vote_pitch.id}") %>
			<%= label_tag("hide#{vote_pitch.id}", "Hide") %>
		<% end %>
	</div>
	<div id="rank-buttons-pitch<%=vote_pitch.id%>" class="rank-buttons-container">
		<%= form_tag('/votes', method: :patch, class: "up-vote-button") do %>
			<%= hidden_field_tag "pitch_id", "#{vote_pitch.id}" %>
		<!-- 	<#%= hidden_field_tag "change_value", "1" %> -->
			<%= submit_tag("Up") %>
		<% end %>
		<%= form_tag('/votes', method: :patch, class: "down-vote-button") do %>
			<%= hidden_field_tag "pitch_id", "#{vote_pitch.id}" %>
			<!-- <#%= hidden_field_tag "change_value", "-1" %> -->
			<%= submit_tag("Down") %>
		<% end %>
	</div>
</div>
