<!DOCTYPE html>
<html>
  <head>
    <title>DbcPitchDayVoting</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="nav-bar">
      <% if logged_in? %>
      <%= link_to 'Log Out', logout_path, method: :delete %>
      <% else %>
      <a id="login-github" href="/auth/github"><button class="login">Sign in with Github</button></a>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
